html
  head
    title contribute
    include style
  include header
  body
    div#content
      br
      b Add an Actor: 
      br
      label(for="text")  Actors: 
      input(type="text") 
      button Add Actor
      br
      br
      br
      b Add Movies: 
      br
      | Title: 
      input(type="text") 
      br

      | Runtime: 
      input(type="text")
      br


      | Release Year: 
      input(type="text")
      br

      
      | Written: 
      input(type="text")
      br


      | Directors: 
      input(type="text")
      br


      | Actors: 
      input(type="text")
      br
  







  include footer
