html 
  header
    div#header      
      a(class = "nav label logo link" href="/") INDEX
      |  
      a(class = "nav label link" href ='/search') SEARCH
      |  
      //- 
        input(class = "nav" type = "text" id = "search_Bar")
        
        select(class = "nav")
          option(class = "nav" value = "default") DEFAULT
          option(class = "nav" value = "title") TITLE
          option(class = "nav" value = "person") PERSON
          option(class = "nav" value = "genre") GENRE
        |
        button(class = "nav" type id = "search_Button") search
      if link === "logIn"
        a(class = "nav label link" href='/logIn') LOG IN / SIGN UP
      else if link === "profile"
        a(class = "nav label link" href="/users/profile") PROFILE
        
