html
  head
    title Log In
    include style
  body
    div#content
      h1 Log In
      //- dont use get method, use post method
      form(action="users/logIn" method="POST" class= "log_In")
        label(for = "username") Username: 
        div(class= "log_In") 
          input(name= "username" type="text" id = "username" required)
        label(for = "password") Password: 
        div(class= "log_In") 
          input(name= "password" type="password" id = "password" required)
        div(class= "log_In")
          input(type="submit"  value = "Log In" id = "log_In" )
      
      h1 Sign Up
      form(action="users/create" method="POST" class= "sign_Up")
        label(for = "username") New Username: 
        div(class= "sign_Up") 
          input(name= "username" type="text" id = "username" required)
        label(for = "password") Create Password: 
        div(class= "sign_Up") 
          input(name= "password" type="password" id = "password" required)
        div(class= "sign_Up")
          input(type="submit" value = "Sign Up" id = "sign_Up" )

